<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autorizado</title>
    <link rel="stylesheet" href="static/autorizado.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <div class="body-1">
    <div class="topnav">
        <a class="active"> USUARIO PREMIUM </a>
        <a class="active" id="a-nav" href="{{ url_for('eliminar_pelicula_html') }}"> ELIMINAR PELICULA </a>
        <a class="active" id="a-nav"> MODIFICAR PELICULA </a>
    </div>
    
    
    
    <div class="background-one">
        <div class="link-container">
          <a class="link-one" >Subi Tu Pelicula :D</a>
            
        
        <br>
        <br>
        <form method="POST" action="">
            <div class="pelicula-box"> 
            <label for="titulo" class="label-post">Titulo: </label>
            <input type="text" placeholder="Titulo" id="titulo" name="titulo">
            <br>
            <label for="anio" class="label-post">Anio: </label>
            <input  type="text" placeholder="Anio" id="anio" name="anio">
            <br>
            <label for="director" class="label-post">Director: </label>
            <input  type="text" placeholder="Director" id="director" name="director">
            <br>
            <label for="genero" class="label-post">Genero: </label>
            <input  type="text" placeholder="Genero" id="genero" name="genero">
            <br>
            <label for="sinopsis" class="label-post">Sinopsis: </label>
            <textarea id="sinopsis" name="sinopsis" rows="10" cols="50"></textarea>
            <br>
            <label for="imagen" class="imagen-box">URL IMAGEN DE PELICULA:  </label>
            <input  type="url" id="imagen" name="imagen">
            <br>
            <input  type="submit" placeholder="Enviar" class="enviar-btn">
            <br>
            </div>
        </form>
        </div>
      </div>
      <div class="background-two link-container">
        <a class="link-two" >Usuarios Premiun</a>
        {% for usuario in usuarios.usuarios %}
        <h1>{{ usuario.nombre }}</h1>
        {% endfor %}
      </div>
      <div class="background-three link-container">
        <a class="link-three" href="#abajo">Peliculas subidas</a>
      
   
      </div>
    </div>
     
  
  <div class="container"> 
  <a name="abajo"></a>
  <div class="box-container">  
  {% for pelicula in peliculas.peliculas %}
    
    <div class="box">
      <img src="{{ pelicula.imagen }}" alt="Pelis">
      <h3>{{ pelicula.titulo }}</h3>
      <p>{{ pelicula.sinopsis }}</p>
      <a href="{{ url_for('comentarios_html') }}" class="btn">Comentarios</a>
      <a href="{{ url_for('eliminar_pelicula_html') }}" class="btn" >Eliminar</a> 
    </div>

  </div>
  {% endfor %}
  </div>


  </div>
    
    


</body>
</html>