<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autorizado</title>
    <link rel="stylesheet" href="static/autorizado.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('Home') }}">Peliculas</a>
        <div class="topnav-right">
          <a href="#logout">logout</a>
        </div>
    </div>
    
    
    
    <div class="background-one">
        <div class="link-container">
          <a class="link-one" >Subi Tu Pelicula :D
            
            
            <input type="file"> 
          
            
        
        
        <br
        <br>
            
            <input type="text" placeholder="Titulo" id="titulo"></a>
            <br>
            <input style="margin-left: -465px;" type="text" placeholder="Anio" ></a>
            <br>
            <input style="margin-left: -465px;" type="text" placeholder="Director"></a>
            <br>
            <input style="margin-left: -465px;" type="text" placeholder="Genero"></a>
            <br>
            <input style="margin-left: -465px;" type="text" placeholder="Sipnosis"></a>
            <br>
            <input  style="margin-left: -465px;" type="submit" placeholder="Enviar Pelicula."></a>
            <br>
            <input class="reset" style="margin-left: -465px;" type="reset" placeholder="Enviar Pelicula."></a>
            
         
        </div>
      </div>
      <div class="background-two link-container">
        <a class="link-two" >Usuarios Premiun</a>
       
      </div>
      <div class="background-three link-container">
        <a class="link-three" >Peliculas subidas</a>
      
   
      </div>








      
    



   





</body>
</html>