<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>Home</title>
</head>

<body>
  <div class="topnav">
    <a class="active" href="{{ url_for('Home') }}">Peliculas</a>
    <div class="topnav-right">
      <a href="{{ url_for('Ingresar') }}">Login</a>
    </div>
  </div>

    
  <div class="container"> 
  <div class="box-container">  
  {% for pelicula in peliculas.peliculas %}
    
    <div class="box">
      <img src="{{ pelicula.imagen }}" alt="Pelis">
      <h3>{{ pelicula.titulo }}</h3>
      <p>{{ pelicula.sinopsis }}</p>
      <a href="#" class="btn">Comentarios</a>
  </div>
  {% endfor %}
  </div>
  </div>

</body>
</html>
