<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <nav>
        <div>
          <h2> PELICULAS </h2>
        </div>
        <a href={{ url_for('Ingresar') }}> Login </a>
      </nav>

    <div>
    <div> 
    {% for pelicula in peliculas.peliculas %}
    <div>
    <div>
        <img src="{{ pelicula.imagen }}">
        <div>
          <h5>{{ pelicula.titulo }}</h5>
          <p> {{ pelicula.sipnosis }}</p>
          <div>
          <a href="#"> Comentarios  </a>
          </div>
        </div>
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
    
        
</body>
</html>
