<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>Home</title>
</head>

<body>
  <div class="topnav">
    <a class="active" href="{{ url_for('Home') }}">Peliculas</a>
    <div class="topnav-right">
      <a href="{{ url_for('Ingresar') }}">Login</a>
    </div>
  </div>

  
  <form action="" class="select-box" method="post">
    <label for="buscar_directores" class="label-style" id="prueba">Buscar por Director:</label>
    <select name="buscar_directores" id="buscar_directores">
      {% for director in directores.directores %}
      <option>{{ director.director }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Buscar" class="butt-select" name="buscar_directores"/>
  </form>

  <form action="" class="select-box" method="post">
    <label for="buscar_generos" class="label-style" id="prueba">Buscar por Genero:</label>
    <select name="buscar_generos" id="buscar_generos">
      {% for genero in generos.generos %}
      <option>{{ genero.genero }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Buscar" class="butt-select" name="buscar_generos"/>
  </form>

  
  <div class="container"> 
  <div class="box-container">
  {% for pelicula in peliculas.peliculas %}
    
    <div class="box">
      <img src="{{ pelicula.imagen }}" alt="Pelis">
      <h3>{{ pelicula.titulo }}</h3>
      <p>{{ pelicula.sinopsis }}</p>
      <a href="#" class="btn">Comentarios</a>
      <p style="font-weight: bolder; color: black;">{{ pelicula.genero }}</p>
      <p style="font-weight: bolder; color: red;">Director/es: {{ pelicula.director }}</p>
  </div>
  {% endfor %}
  </div>
  </div>



</body>
</html>
